apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-operators
  namespace: openshift-gitops
spec:
  project: default
  source:
    repoURL: https://github.com/JustinBatchelor/openshift-operators
    targetRevision: HEAD
    path: ./
    helm:
      parameters:
        - name: certManager.enabled
          value: "true"
        - name: email
          value: "justinrossbatchelor@gmail.com"
        - name: clusterName
          value: {{ cluster_name }}
        - name: clusterDomain
          value: {{ cluster_domain }}
        - name: certManager.ingressCertificate
          value: "{{ template_certificate }}"
        - name: vaultSecrets.enabled
          value: "true"
        - name: vaultSecrets.clientID
          value: {{ clientID | b64encode }}
        - name: vaultSecrets.clientSecret
          value: {{ clientSecret | b64encode }}
        - name: vaultSecrets.organizationID
          value: {{ organizationID }}
        - name: vaultSecrets.projectID
          value: {{ projectID }}
        - name: vaultSecrets.appName
          value: {{ hcp_homelab_application_name }}
  destination:
    server: https://kubernetes.default.svc
    namespace: openshift-gitops
  syncPolicy:
    automated:
      prune: true
      selfHeal: true